html,
body {
	height: 100%;
	background-color: white;
}
body {
	color: black;
	font-size: 16px;
	text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}
.site-wrapper-inner {
	display: table-cell;
}
.site-wrapper-inner {
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	/*fnt-size: 4.6vw;	*/


    /*vertical-align: middle;*/
    /*padding-top: 256px;
    padding-left: 311px;*/
 }

.background-img {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background: url('../images/01_1200.png') no-repeat center center;*/
	/*background-size: cover;*/
}

.cover-main {
	position: relative;
	z-index: 100;
/*	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;*/
}

.brand-name {
	margin-bottom: 8vh;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;	
	font-weight: 100;
	letter-spacing: 0.005em;	
}

h1 span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 1em;
	letter-spacing: -0.05em;	
}

.welcome-text {
	margin-bottom: 11vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.28em;
	text-transform: uppercase;
	letter-spacing: 0.025em;	

	/*display: none;*/
}

.welcome-text .text-rus {
	line-height: 60%;
	text-transform: lowercase
}

.welcome-text .text-rus:nth-child(2) {
	margin-bottom: 10px;
}

.welcome-text .text-en {
	font-size: 1.55em;
	margin-bottom: 10px;
}

.contacts .email {
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
	/*font-size: 0.33em;*/
	font-size: 0.28em;
	text-transform: lowercase;
	letter-spacing: 0.025em;	
}

.contacts a {
	display: block;
	outline: none;
	font-size: 0;
}

.contacts a:hover {
	opacity: 0.5;
}

.instagram {
	padding: 0;
	margin: 0;
}

/*--------------------------*/

.cover-footer {
	display: none;
	position: fixed;
	z-index: 100;
	bottom: 0;
	width: 100%;
}

.footer-inner {
	margin: 0 auto;
	padding-bottom: 20px;

}


@media (min-width: 1200px) {
	.site-wrapper-inner {
		font-size: 40px;
	}
	
	.instagram {
		width: 20px;
		height: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.site-wrapper-inner {
		font-size: 40px;
	}

	.instagram {
		width: 20px;
		height: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.site-wrapper-inner {
		font-size: 30px;
	}

	.contacts .email {
  		font-size: 0.44em;
	}

	.instagram {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 767px) {
	.site-wrapper-inner {
		font-size: 4.6vw;
	}

	.brand-name {
		margin-bottom: 16vh;
	}

	.instagram {
		width: 30px;
		height: 30px;
	}

	.contacts .email {
  		font-size: 0.44em;
	}
}